<div class="container">
    <div class="row firstLine">
      <div class="col-2">
        <span id="">16</span>
      </div>
      <div class="col-2">
        <span id="">06</span>
      </div>
      <div class="col-2">
        <span id="">68</span>
      </div>
      <div class="col-2">
        <span id="">88</span>
      </div>
      <div class="col-2">
  
        <div>
          <span id="number">87</span>
        </div>
        <div>
          <img id="trains" src="https://static.nix.ru/images/Welly-Mitsubishi-Lancer-Evolution-VIII-3177752245.jpg?good_id=317775&width=500&height=500&view_id=2245"
            (click)='moves()' #submitButton>
        </div>
  
      </div>
      <div class="col-2">
        <span id="">98</span>
      </div>
    </div>
    <div class="row secondLine">
      <div class="col-2">16</div>
      <div class="col-2">06</div>
      <div class="col-2">68</div>
      <div class="col-2">88</div>
      <div class="col-2">
        <img id="train" src="https://static.nix.ru/images/Welly-Mitsubishi-Lancer-Evolution-VIII-3177752245.jpg?good_id=317775&width=500&height=500&view_id=2245"
          (click)='move()'>
      </div>
      <div class="col-2">98</div>
    </div>
  </div>